// general css
body {
    font-family: $font_2, $font_3;
    position: relative;
    background: $white;
    font-size: 14px;
    color: $black;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    color: $light-color;
    &.font-roboto {
      letter-spacing: 0.4px;
    }
  }
  a {
    transition: 0.5s ease;
    &:hover {
      text-decoration: none;
      transition: 0.5s ease;
    }
    &:focus {
      outline: none;
    }
  }
  button,
  .btn {
    font-family: $font_2, $font_3;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .form-control {
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      font-size: 14px;
      font-family: $font_1, $font_3;
      color: $light-font;
    }
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_2, $font_3;
}
h1 {
  font-size: calc(26px + (55 - 26) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.1;
  text-transform: capitalize;
}
h2 {
  font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  letter-spacing: 0.001em;
  line-height: 32px;
  text-transform: capitalize;
}
h3 {
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
h4 {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: capitalize;
}
h5 {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
h6 {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 400;
  line-height: 1.2;
}

// button css
.btn {
    padding: 10px 20px;
}
.btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    &:hover, &:active {
        background-color: darken($primary-color, 5%) !important;
    }
    &:not(:disabled):not(.disabled) {
        &:active, &.active {
            &:focus {
                box-shadow: none;
            }
        }
    }
}