/vendor
/node_modules

/.env
/.env.*.backup
/.env.backup

/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/*
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
/storage/logs/*

/bootstrap/cache/*

/public/storage

/public/hot
/public/build
/public/mix-manifest.json

/.phpunit.result.cache
/phpunit.xml

/.idea
/.vscode

.DS_Store
Thumbs.db

npm-debug.log*
yarn-error.log*

/coverage
