openapi: "3.0.3"
info:
  title: Shopping App Backend API
  description: |
    REST API for the MStore Shopping App Backend built with Laravel + Sanctum.

    **Authentication:** Most write operations and user-specific data require a Bearer token obtained via `/api/login` or `/api/register`.

    **Base URL:** `https://<your-domain>/api`
  version: "1.0.0"
  contact:
    name: API Support

servers:
  - url: https://mstore.primeads.ai/api
    description: Production Server
  - url: /api
    description: Local / Default API server

tags:
  - name: Authentication
    description: Login, register, and password management
  - name: Admin Authentication
    description: Login for Admins, Vendors, and Staff
  - name: Account
    description: Authenticated user profile management
  - name: Products
    description: Product catalog
  - name: Categories
    description: Product categories
  - name: Tags
    description: Product tags
  - name: Attributes
    description: Product attributes and values
  - name: Stores
    description: Vendor stores
  - name: Orders
    description: Order management and checkout
  - name: Cart
    description: Shopping cart
  - name: Wishlist
    description: User wishlist
  - name: Attachments
    description: File / media upload management
  - name: Address
    description: User address book
  - name: Reviews
    description: Product reviews
  - name: Blogs
    description: Blog posts
  - name: Coupons
    description: Discount coupons
  - name: Currencies
    description: Currency management
  - name: Notifications
    description: In-app notifications
  - name: Wallet
    description: Consumer & vendor wallet
  - name: Settings
    description: App settings and theme options
  - name: Webhooks
    description: Payment gateway webhooks

components:
  securitySchemes:
    sanctum:
      type: http
      scheme: bearer
      bearerFormat: Sanctum

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        success:
          type: boolean
          example: false

    ValidationErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "The email field is required."
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    AuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
          example: "1|abc123xyz"
        permissions:
          type: array
          items:
            type: string
        success:
          type: boolean
          example: true

    SuccessResponse:
      type: object
      properties:
        message:
          type: string
        success:
          type: boolean
          example: true

    Attachment:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        file_name:
          type: string
        mime_type:
          type: string
        size:
          type: integer
          description: File size in bytes
        disk:
          type: string
        original_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time

    PaginatedMeta:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        last_page:
          type: integer
        from:
          type: integer
        to:
          type: integer

    Address:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
          example: Home
        street:
          type: string
        city:
          type: string
        state:
          type: string
        country_id:
          type: integer
        zip:
          type: string
        country_code:
          type: string
        phone:
          type: string
        is_default:
          type: boolean

    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        price:
          type: number
          format: float
        sale_price:
          type: number
          format: float
        discount:
          type: number
        stock_status:
          type: string
        status:
          type: boolean
        is_trending:
          type: boolean
        store_id:
          type: integer
        store:
          type: object
          properties:
            id:
              type: integer
            store_name:
              type: string
        product_thumbnail:
          $ref: "#/components/schemas/Attachment"
        product_galleries:
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
        categories:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              slug:
                type: string
        tags:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
        created_at:
          type: string
          format: date-time

    Order:
      type: object
      properties:
        id:
          type: integer
        order_number:
          type: string
        consumer_id:
          type: integer
        status:
          type: string
        payment_method:
          type: string
        total_amount:
          type: number
          format: float
        billing_address:
          $ref: "#/components/schemas/Address"
        shipping_address:
          $ref: "#/components/schemas/Address"
        products:
          type: array
          items:
            type: object
        sub_orders:
          type: array
          items:
            type: object
        created_at:
          type: string
          format: date-time

# ─────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────
paths:

  # ── Authentication ──────────────────────────────────────
  /login:
    post:
      tags: [Authentication]
      operationId: login
      summary: User Login (Consumer)
      description: Authenticate a consumer and receive a Sanctum Bearer token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: password123
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "400":
          description: Invalid credentials or disabled account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "429":
          description: Too many requests (throttled)

  /backend/login:
    post:
      tags: [Admin Authentication]
      operationId: backendLogin
      summary: Admin / Staff Login
      description: Authenticate as an Admin or Vendor to get an administrative token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: admin@example.com
                password:
                  type: string
                  format: password
                  example: password123
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "400":
          description: Invalid credentials

  /register:
    post:
      tags: [Authentication]
      operationId: register
      summary: Register a new consumer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password, password_confirmation, country_code, phone]
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: password123
                password_confirmation:
                  type: string
                  example: password123
                country_code:
                  type: string
                  example: "+1"
                phone:
                  type: string
                  example: "1234567890"
      responses:
        "200":
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "422":
          description: Validation error (duplicate email/phone, weak password, etc.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"

  /forgot-password:
    post:
      tags: [Authentication]
      operationId: forgotPassword
      summary: Request password reset OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: OTP sent to email
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "422":
          description: Email not found or validation error

  /verify-token:
    post:
      tags: [Authentication]
      operationId: verifyToken
      summary: Verify password reset OTP token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email]
              properties:
                token:
                  type: string
                  example: "54321"
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Token verified
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid or expired token

  /update-password:
    post:
      tags: [Authentication]
      operationId: updatePasswordReset
      summary: Reset password using OTP token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email, password, password_confirmation]
              properties:
                token:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                password_confirmation:
                  type: string
      responses:
        "200":
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid token or email

  /logout:
    post:
      tags: [Authentication]
      operationId: logout
      summary: Logout (revoke current token)
      security:
        - sanctum: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Unauthenticated

  # ── Account ─────────────────────────────────────────────
  /self:
    get:
      tags: [Account]
      operationId: getSelf
      summary: Get authenticated user profile
      security:
        - sanctum: []
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  email:
                    type: string
                    format: email
                  phone:
                    type: string
                  country_code:
                    type: string
                  status:
                    type: boolean
                  profile_image:
                    $ref: "#/components/schemas/Attachment"
                  addresses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Address"
                  wallet:
                    type: object
                    properties:
                      balance:
                        type: number
                  point:
                    type: object
                    properties:
                      balance:
                        type: integer
                  orders_count:
                    type: integer
                  role:
                    type: string
                  permission:
                    type: array
                    items:
                      type: string
        "401":
          description: Unauthenticated

  /updateProfile:
    put:
      tags: [Account]
      operationId: updateProfile
      summary: Update authenticated user profile
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                country_code:
                  type: string
                profile_image_id:
                  type: integer
      responses:
        "200":
          description: Profile updated
        "401":
          description: Unauthenticated
        "422":
          description: Validation error

  /updatePassword:
    put:
      tags: [Account]
      operationId: updateAccountPassword
      summary: Change account password
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password, password_confirmation]
              properties:
                current_password:
                  type: string
                  format: password
                password:
                  type: string
                  format: password
                  minLength: 8
                password_confirmation:
                  type: string
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Unauthenticated
        "422":
          description: Validation error

  /updateStoreProfile:
    put:
      tags: [Account]
      operationId: updateStoreProfile
      summary: Update vendor store profile
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store_name:
                  type: string
                description:
                  type: string
                store_logo_id:
                  type: integer
                store_cover_id:
                  type: integer
                facebook:
                  type: string
                  format: uri
                twitter:
                  type: string
                  format: uri
                instagram:
                  type: string
                  format: uri
                youtube:
                  type: string
                  format: uri
                pinterest:
                  type: string
                  format: uri
      responses:
        "200":
          description: Store profile updated
        "401":
          description: Unauthenticated
        "403":
          description: Forbidden

  # ── Address ─────────────────────────────────────────────
  /address:
    get:
      tags: [Address]
      operationId: getAddresses
      summary: List user addresses
      security:
        - sanctum: []
      responses:
        "200":
          description: List of addresses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Address"
    post:
      tags: [Address]
      operationId: createAddress
      summary: Create a new address
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, street, city, country_id]
              properties:
                title:
                  type: string
                  example: Home
                street:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                country_id:
                  type: integer
                phone:
                  type: string
                is_default:
                  type: boolean
      responses:
        "201":
          description: Address created
        "422":
          description: Validation error

  /address/{id}:
    get:
      tags: [Address]
      operationId: getAddress
      summary: Get a single address
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Address"
        "404":
          description: Not found
    put:
      tags: [Address]
      operationId: updateAddress
      summary: Update an address
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Updated
    delete:
      tags: [Address]
      operationId: deleteAddress
      summary: Delete an address
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  # ── Products ─────────────────────────────────────────────
  /product:
    get:
      tags: [Products]
      operationId: getProducts
      summary: List products (with filters)
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
          description: Items per page
        - name: category
          in: query
          schema:
            type: string
          description: Comma-separated category slugs
        - name: tag
          in: query
          schema:
            type: string
          description: Comma-separated tag slugs
        - name: min
          in: query
          schema:
            type: number
          description: Min price
        - name: max
          in: query
          schema:
            type: number
          description: Max price
        - name: rating
          in: query
          schema:
            type: string
          description: Comma-separated rating values
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [asc, desc, a-z, z-a, high-to-low, low-to-high, discount-high-to-low]
        - name: store_id
          in: query
          schema:
            type: integer
        - name: store_slug
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: boolean
        - name: attribute
          in: query
          schema:
            type: string
          description: Comma-separated attribute value slugs
        - name: ids
          in: query
          schema:
            type: string
          description: Comma-separated product IDs
        - name: trending
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Paginated product list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedMeta"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Product"
    post:
      tags: [Products]
      operationId: storeProduct
      summary: Create a new product (Admin/Vendor)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price, store_id]
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                sale_price:
                  type: number
                store_id:
                  type: integer
                stock_status:
                  type: string
                category_ids:
                  type: array
                  items:
                    type: integer
                tag_ids:
                  type: array
                  items:
                    type: integer
                product_thumbnail_id:
                  type: integer
                gallery_ids:
                  type: array
                  items:
                    type: integer
      responses:
        "201":
          description: Product created
        "401":
          description: Unauthenticated
        "403":
          description: Forbidden
        "422":
          description: Validation error

  /product/{id}:
    get:
      tags: [Products]
      operationId: getProductById
      summary: Get product by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          description: Not found
    put:
      tags: [Products]
      operationId: updateProduct
      summary: Update a product
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                sale_price:
                  type: number
                status:
                  type: boolean
      responses:
        "200":
          description: Product updated
        "401":
          description: Unauthenticated
        "404":
          description: Not found
    delete:
      tags: [Products]
      operationId: deleteProduct
      summary: Delete a product
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted
        "401":
          description: Unauthenticated
        "404":
          description: Not found

  /product/slug/{slug}:
    get:
      tags: [Products]
      operationId: getProductBySlug
      summary: Get product by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          description: Not found

  /product/barcode/{barcode}:
    get:
      tags: [Products]
      operationId: getProductByBarcode
      summary: Get product or variation by barcode
      description: Returns variation details if the barcode matches a variation, otherwise returns product details.
      parameters:
        - name: barcode
          in: path
          required: true
          schema:
            type: string
            example: "1234567890123"
      responses:
        "200":
          description: Successful lookup
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Product"
                  - type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      sale_price:
                        type: number
                      sku:
                        type: string
                      barcode:
                        type: string
                      product_id:
                        type: integer
        "404":
          description: No product or variation found with this barcode

  /product/{id}/{status}:
    put:
      tags: [Products]
      operationId: updateProductStatus
      summary: Toggle product status (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: status
          in: path
          required: true
          schema:
            type: integer
            enum: [0, 1]
      responses:
        "200":
          description: Status updated

  /product/approve/{id}/{status}:
    put:
      tags: [Products]
      operationId: approveProduct
      summary: Approve or reject a product (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: status
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Approval updated

  /product/deleteAll:
    post:
      tags: [Products]
      operationId: deleteAllProducts
      summary: Bulk delete products
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        "200":
          description: Deleted

  /product/replicate:
    post:
      tags: [Products]
      operationId: replicateProduct
      summary: Duplicate product(s)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        "200":
          description: Products replicated

  # ── Orders ─────────────────────────────────────────────
  /order:
    get:
      tags: [Orders]
      operationId: getOrders
      summary: List orders
      security:
        - sanctum: []
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: field
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        "200":
          description: Paginated order list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedMeta"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Order"
        "401":
          description: Unauthenticated
    post:
      tags: [Orders]
      operationId: storeOrder
      summary: Place a new order
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [products, billing_address_id, shipping_address_id, payment_method]
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      product_id:
                        type: integer
                      quantity:
                        type: integer
                      variation_id:
                        type: integer
                billing_address_id:
                  type: integer
                shipping_address_id:
                  type: integer
                payment_method:
                  type: string
                  example: stripe
                coupon:
                  type: string
                delivery_description:
                  type: string
                points:
                  type: integer
                  description: Points to redeem
                wallet_balance:
                  type: number
                  description: Wallet amount to use
      responses:
        "201":
          description: Order placed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "401":
          description: Unauthenticated
        "422":
          description: Validation error

  /order/{id}:
    get:
      tags: [Orders]
      operationId: getOrderById
      summary: Get order by ID
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "404":
          description: Not found
    put:
      tags: [Orders]
      operationId: updateOrder
      summary: Update order status
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_status_id:
                  type: integer
                tracking_number:
                  type: string
      responses:
        "200":
          description: Order updated
    delete:
      tags: [Orders]
      operationId: deleteOrder
      summary: Delete an order
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  /trackOrder/{order_number}:
    get:
      tags: [Orders]
      operationId: trackOrder
      summary: Track order by order number
      security:
        - sanctum: []
      parameters:
        - name: order_number
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order tracking info
        "404":
          description: Order not found

  /verifyPayment/{order_number}:
    get:
      tags: [Orders]
      operationId: verifyPayment
      summary: Verify payment status for an order
      security:
        - sanctum: []
      parameters:
        - name: order_number
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment verified
        "400":
          description: Payment not verified

  /rePayment:
    post:
      tags: [Orders]
      operationId: rePayment
      summary: Retry payment for an existing order
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_number]
              properties:
                order_number:
                  type: string
                payment_method:
                  type: string
      responses:
        "200":
          description: Payment initiated

  /checkout:
    post:
      tags: [Orders]
      operationId: verifyCheckout
      summary: Verify checkout (validate cart before ordering)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon:
                  type: string
                products:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Checkout verified with amounts

  # ── Cart ───────────────────────────────────────────────
  /cart:
    get:
      tags: [Cart]
      operationId: getCart
      summary: Get cart items
      security:
        - sanctum: []
      responses:
        "200":
          description: Cart contents
    post:
      tags: [Cart]
      operationId: addToCart
      summary: Add item to cart
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, quantity]
              properties:
                product_id:
                  type: integer
                quantity:
                  type: integer
                variation_id:
                  type: integer
      responses:
        "200":
          description: Item added to cart
    put:
      tags: [Cart]
      operationId: updateCart
      summary: Update cart item quantity
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                quantity:
                  type: integer
      responses:
        "200":
          description: Cart updated

  /cart/{id}:
    delete:
      tags: [Cart]
      operationId: removeFromCart
      summary: Remove item from cart
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Removed

  /sync/cart:
    post:
      tags: [Cart]
      operationId: syncCart
      summary: Sync cart (merge guest cart)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Cart synced

  /replace/cart:
    put:
      tags: [Cart]
      operationId: replaceCart
      summary: Replace entire cart
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Cart replaced

  # ── Wishlist ────────────────────────────────────────────
  /wishlist:
    get:
      tags: [Wishlist]
      operationId: getWishlist
      summary: Get wishlist
      security:
        - sanctum: []
      responses:
        "200":
          description: Wishlist items
    post:
      tags: [Wishlist]
      operationId: addToWishlist
      summary: Add product to wishlist
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id]
              properties:
                product_id:
                  type: integer
      responses:
        "200":
          description: Added to wishlist

  /wishlist/{id}:
    delete:
      tags: [Wishlist]
      operationId: removeFromWishlist
      summary: Remove from wishlist
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Removed

  # ── Attachments ─────────────────────────────────────────
  /attachment:
    get:
      tags: [Attachments]
      operationId: getAttachments
      summary: List attachments
      security:
        - sanctum: []
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, oldest, smallest, largest]
      responses:
        "200":
          description: Paginated attachment list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedMeta"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Attachment"
    post:
      tags: [Attachments]
      operationId: uploadAttachment
      summary: Upload file(s)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Single file upload
                "attachments[]":
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Multiple file upload
      responses:
        "200":
          description: File(s) uploaded
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Attachment"
        "422":
          description: Invalid file type or size

  /attachment/{id}:
    get:
      tags: [Attachments]
      operationId: getAttachmentById
      summary: Get attachment by ID
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Attachment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        "404":
          description: Not found
    put:
      tags: [Attachments]
      operationId: updateAttachment
      summary: Update attachment metadata
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Updated
    delete:
      tags: [Attachments]
      operationId: deleteAttachment
      summary: Delete attachment
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /attachment/deleteAll:
    post:
      tags: [Attachments]
      operationId: deleteAllAttachments
      summary: Bulk delete attachments
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        "200":
          description: Deleted

  # ── Categories ──────────────────────────────────────────
  /category:
    get:
      tags: [Categories]
      operationId: getCategories
      summary: List categories
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Category list
    post:
      tags: [Categories]
      operationId: storeCategory
      summary: Create category (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                parent_id:
                  type: integer
                category_image_id:
                  type: integer
                status:
                  type: boolean
      responses:
        "201":
          description: Category created

  /category/{id}:
    get:
      tags: [Categories]
      operationId: getCategoryById
      summary: Get category by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Category
    put:
      tags: [Categories]
      operationId: updateCategory
      summary: Update category (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: boolean
      responses:
        "200":
          description: Updated
    delete:
      tags: [Categories]
      operationId: deleteCategory
      summary: Delete category (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  # ── Tags ────────────────────────────────────────────────
  /tag:
    get:
      tags: [Tags]
      operationId: getTags
      summary: List tags
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Tag list
    post:
      tags: [Tags]
      operationId: storeTag
      summary: Create tag (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                slug:
                  type: string
                status:
                  type: boolean
      responses:
        "201":
          description: Tag created

  /tag/{id}:
    get:
      tags: [Tags]
      operationId: getTagById
      summary: Get tag by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Tag
    put:
      tags: [Tags]
      operationId: updateTag
      summary: Update tag (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: boolean
      responses:
        "200":
          description: Updated
    delete:
      tags: [Tags]
      operationId: deleteTag
      summary: Delete tag (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  # ── Stores ──────────────────────────────────────────────
  /store:
    get:
      tags: [Stores]
      operationId: getStores
      summary: List stores
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Store list
    post:
      tags: [Stores]
      operationId: storeStore
      summary: Create a vendor store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [store_name]
              properties:
                store_name:
                  type: string
                description:
                  type: string
                country_id:
                  type: integer
                store_logo_id:
                  type: integer
      responses:
        "201":
          description: Store created

  /store/{id}:
    get:
      tags: [Stores]
      operationId: getStoreById
      summary: Get store by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Store
    put:
      tags: [Stores]
      operationId: updateStore
      summary: Update store (Admin/Vendor)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store_name:
                  type: string
                status:
                  type: boolean
      responses:
        "200":
          description: Updated
    delete:
      tags: [Stores]
      operationId: deleteStore
      summary: Delete store (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  /store/slug/{slug}:
    get:
      tags: [Stores]
      operationId: getStoreBySlug
      summary: Get store by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Store

  # ── Notifications ───────────────────────────────────────
  /notifications:
    get:
      tags: [Notifications]
      operationId: getNotifications
      summary: List notifications
      security:
        - sanctum: []
      responses:
        "200":
          description: Notifications list

  /notifications/markAsRead:
    put:
      tags: [Notifications]
      operationId: markNotificationsAsRead
      summary: Mark all notifications as read
      security:
        - sanctum: []
      responses:
        "200":
          description: Marked as read

  /notifications/{id}:
    delete:
      tags: [Notifications]
      operationId: deleteNotification
      summary: Delete a notification
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  # ── Reviews ─────────────────────────────────────────────
  /review:
    get:
      tags: [Reviews]
      operationId: getReviews
      summary: List reviews (Admin)
      security:
        - sanctum: []
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Review list
    post:
      tags: [Reviews]
      operationId: storeReview
      summary: Submit a review
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, rating]
              properties:
                product_id:
                  type: integer
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
      responses:
        "201":
          description: Review submitted

  /front/review:
    get:
      tags: [Reviews]
      operationId: getFrontReviews
      summary: Public review listing (no auth)
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: paginate
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Public reviews

  /review/{id}:
    get:
      tags: [Reviews]
      operationId: getReviewById
      summary: Get review by ID
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Review
    put:
      tags: [Reviews]
      operationId: updateReview
      summary: Update review status (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: boolean
      responses:
        "200":
          description: Updated
    delete:
      tags: [Reviews]
      operationId: deleteReview
      summary: Delete review
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  # ── Coupons ─────────────────────────────────────────────
  /coupon:
    get:
      tags: [Coupons]
      operationId: getCoupons
      summary: List coupons
      parameters:
        - name: paginate
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Coupon list
    post:
      tags: [Coupons]
      operationId: storeCoupon
      summary: Create coupon (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, discount_type, amount]
              properties:
                code:
                  type: string
                  example: SAVE20
                discount_type:
                  type: string
                  enum: [percent, fixed]
                amount:
                  type: number
                minimum_spend:
                  type: number
                maximum_spend:
                  type: number
                usage_limit:
                  type: integer
                expires_at:
                  type: string
                  format: date
      responses:
        "201":
          description: Coupon created

  /coupon/{id}:
    get:
      tags: [Coupons]
      operationId: getCouponById
      summary: Get coupon by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Coupon
    put:
      tags: [Coupons]
      operationId: updateCoupon
      summary: Update coupon (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                discount_type:
                  type: string
                amount:
                  type: number
                status:
                  type: boolean
      responses:
        "200":
          description: Updated
    delete:
      tags: [Coupons]
      operationId: deleteCoupon
      summary: Delete coupon (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  # ── Currencies ──────────────────────────────────────────
  /currency:
    get:
      tags: [Currencies]
      operationId: getCurrencies
      summary: List currencies
      responses:
        "200":
          description: Currency list
    post:
      tags: [Currencies]
      operationId: storeCurrency
      summary: Create currency (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, symbol, code, exchange_rate]
              properties:
                name:
                  type: string
                symbol:
                  type: string
                code:
                  type: string
                  example: USD
                exchange_rate:
                  type: number
      responses:
        "201":
          description: Currency created

  /currency/{id}:
    get:
      tags: [Currencies]
      operationId: getCurrencyById
      summary: Get currency by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Currency
    put:
      tags: [Currencies]
      operationId: updateCurrency
      summary: Update currency (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                exchange_rate:
                  type: number
                status:
                  type: boolean
      responses:
        "200":
          description: Updated
    delete:
      tags: [Currencies]
      operationId: deleteCurrency
      summary: Delete currency (Admin)
      security:
        - sanctum: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted

  # ── Wallet ──────────────────────────────────────────────
  /wallet/consumer:
    get:
      tags: [Wallet]
      operationId: getConsumerWallets
      summary: List consumer wallets (Admin)
      security:
        - sanctum: []
      responses:
        "200":
          description: Wallet list

  /credit/wallet:
    post:
      tags: [Wallet]
      operationId: creditWallet
      summary: Credit wallet balance (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, amount]
              properties:
                user_id:
                  type: integer
                amount:
                  type: number
                message:
                  type: string
      responses:
        "200":
          description: Wallet credited

  /debit/wallet:
    post:
      tags: [Wallet]
      operationId: debitWallet
      summary: Debit wallet balance (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, amount]
              properties:
                user_id:
                  type: integer
                amount:
                  type: number
                message:
                  type: string
      responses:
        "200":
          description: Wallet debited

  /wallet/vendor:
    get:
      tags: [Wallet]
      operationId: getVendorWallets
      summary: List vendor wallets (Admin)
      security:
        - sanctum: []
      responses:
        "200":
          description: Vendor wallet list

  /credit/vendorWallet:
    post:
      tags: [Wallet]
      operationId: creditVendorWallet
      summary: Credit vendor wallet (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [store_id, amount]
              properties:
                store_id:
                  type: integer
                amount:
                  type: number
      responses:
        "200":
          description: Credited

  /debit/vendorWallet:
    post:
      tags: [Wallet]
      operationId: debitVendorWallet
      summary: Debit vendor wallet (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [store_id, amount]
              properties:
                store_id:
                  type: integer
                amount:
                  type: number
      responses:
        "200":
          description: Debited

  # ── Settings ─────────────────────────────────────────────
  /settings:
    get:
      tags: [Settings]
      operationId: getFrontSettings
      summary: Get public app settings
      responses:
        "200":
          description: Settings object
    put:
      tags: [Settings]
      operationId: updateSettings
      summary: Update settings (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Key-value settings map
      responses:
        "200":
          description: Settings updated

  /themeOptions:
    get:
      tags: [Settings]
      operationId: getThemeOptions
      summary: Get theme options
      responses:
        "200":
          description: Theme options
    put:
      tags: [Settings]
      operationId: updateThemeOptions
      summary: Update theme options (Admin)
      security:
        - sanctum: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Updated

  /app/settings:
    get:
      tags: [Settings]
      operationId: getAppSettings
      summary: Get mobile app home configuration
      responses:
        "200":
          description: App settings

  # ── Dashboard ───────────────────────────────────────────
  /statistics/count:
    get:
      tags: [Settings]
      operationId: getDashboardStats
      summary: Get dashboard statistics (Admin)
      security:
        - sanctum: []
      responses:
        "200":
          description: Dashboard counts

  /dashboard/chart:
    get:
      tags: [Settings]
      operationId: getDashboardChart
      summary: Get chart data (Admin)
      security:
        - sanctum: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Chart data

  # ── Contact ─────────────────────────────────────────────
  /contact-us:
    post:
      tags: [Settings]
      operationId: contactUs
      summary: Submit contact form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, message]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                message:
                  type: string
      responses:
        "200":
          description: Message sent

  # ── Webhooks ─────────────────────────────────────────────
  /stripe/webhook:
    post:
      tags: [Webhooks]
      operationId: stripeWebhook
      summary: Stripe payment webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed

  /paypal/webhook:
    post:
      tags: [Webhooks]
      operationId: paypalWebhook
      summary: PayPal payment webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed

  /razorpay/webhook:
    post:
      tags: [Webhooks]
      operationId: razorpayWebhook
      summary: Razorpay payment webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed

  /mollie/webhook:
    post:
      tags: [Webhooks]
      operationId: mollieWebhook
      summary: Mollie payment webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed

  /instamojo/webhook:
    post:
      tags: [Webhooks]
      operationId: instamojoWebhook
      summary: Instamojo payment webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed

  /ccavenue/webhook:
    post:
      tags: [Webhooks]
      operationId: ccavenueWebhook
      summary: CCAvenue payment webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed
